/* App.css */
.weather-form-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


h1 {
  color: #007bff;
  margin-bottom: 20px;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */

}

.weather-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px; /* Adjust the maximum width of the form */
  width: 100%; /* Ensure the form takes full width up to max-width */
}

.weather-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.weather-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.weather-card {
  background: #d7b4b4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.weather-card h2 {
  margin-top: 0;
}

.weather-card p {
  margin: 5px 0;
  font-size: 18px;
}

.chart-container {
  margin: 20px auto;
  max-width: 800px;
}

/* MUI Autocomplete styles */
.MuiAutocomplete-root {
  width: 100%; /* Ensure autocomplete takes full width of its container */
}

.MuiTextField-root {
  width: 100%; /* Ensure text field takes full width of its container */
}
